[tool.poetry]
name = "zygoat"
version = "1.17.0"
description = ""
authors = ["Bequest, Inc. <oss@willing.com>"]
readme = "README.md"
documentation = "https://zygoat.readthedocs.io/en/latest/"

[tool.poetry.dependencies]
python = "^3.7"
click = "^8.1.3"
colorama = "^0.4.4"
"ruamel.yaml" = "^0.17.21"
python-box = {extras = ["all"], version = "^6.0.2"}
virtualenv = "^20.14.1"
redbaron = "^0.9.2"
requests = "^2.27.1"
rtd-poetry = "^0.1.0"
importlib_metadata = "^1.7.0"
semver = "^2.13.0"
toml = "^0.10.2"

[tool.poetry.dev-dependencies]
pytest = "^6.2.4"
flake8 = "^3.9.2"
autopep8 = "^1.5.7"
flake8-black = "^0.2.3"
Sphinx = "^4.1.2"
sphinx-rtd-theme = "^0.5.2"

[tool.poetry.scripts]
zg = 'zygoat.cli:cli'
[tool.black]
line-length = 95
target-version = ['py37']
[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
