[tool.poetry]
name = "zygoat"
version = "0.2.1"
description = ""
authors = ["Bequest, Inc. <oss@willing.com>"]
readme = "README.md"
documentation = "https://zygoat.readthedocs.io/en/latest/"

[tool.poetry.dependencies]
python = "^3.7"
click = "^7.0"
colorama = "^0.4.3"
"ruamel.yaml" = "^0.16.10"
python-box = "^4.0"
virtualenv = "^20.0"
redbaron = "^0.9.2"
requests = "^2.23.0"
rtd-poetry = "^0.1.0"

[tool.poetry.dev-dependencies]
pytest = "^3.0"
flake8 = "^3.7"
autopep8 = "^1.5"
flake8-black = "^0.1.1"
Sphinx = "^2.4.4"
sphinx-rtd-theme = "^0.4.3"

[tool.poetry.scripts]
zg = 'zygoat.cli:cli'
[tool.black]
line-length = 95
target-version = ['py37']
[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
