:3000

reverse_proxy /api* backend:3001 {
    header_up Host {http.reverse_proxy.upstream.host}
}

reverse_proxy frontend:3000 {
    header_up Host {http.reverse_proxy.upstream.host}
    flush_interval -1
}
